<div class="container">
    <h1>Admin</h1>
    <div class="contenedor-tab-lateral">

        <!-- Los botones iran en el lateral a modo tab control lateral -->
        <button>User Management</button>
        <button>Arbitros Management</button>
        <button>Partidos Management</button>
    </div>

    <div class="contenedor-componentes">
        <div class="componente-usuario">
            <!-- El contenido de cada tab se mostrara aqui -->
            <h2>Gestión de Usuarios</h2>
            <p>Aquí puedes gestionar los usuarios de la aplicación.</p>
        </div>
        <div class="componente-arbitro">
            <h2>Gestión de Árbitros</h2>
            <p>Aquí puedes gestionar los árbitros de la aplicación.</p>
        </div>
        <div class="componente-partidos">
            <h2>Gestión de Partidos</h2>
            <p>Aquí puedes gestionar los partidos de la aplicación.</p>
        </div>
    </div>
</div>